<html>
    <head>
        <title>
            BST-as-a-Service
        </title>
    </head>
    <body>
        <h1>Welcome to BST-as-a-Service!</h1>
        <p>This is a project to learn about flask, git, CI/CD, Heroku and much more.</p>
        <p>Send a GET request to interact with your Binary Search Tree</p><br>
        <hr>
        <ul>
            <li> /insert?key=1 For insertion</li>
            <li> /delete?key=1 For Deletion </li>
            <li> /search?key=1 For Searching </li>
            <li> /print        For Printing the BST </li>
        </ul>
    </body>
</html>


